/**************** body and tag styles ****************/
	body {
	  margin-top: 0px;	  
	  margin-bottom: 30px;
	  }

	#container {
	  width: 950px;
	  margin: 0 auto;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  line-height: 1.6em;
	  color: #666666;
	  background-color: #FFFFFF;
	  }
	  
	#container2 {
	  width: 946px;
	  margin: 0 auto;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  line-height: 1.6em;
	  color: #666666;
	  background-color: #FFFFFF;
	  /* GM Commented border-bottom: 2px solid #2763A5;*/
	  }
		
	h1 {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 32px;
	  color: #6DA6E2;
	  margin-bottom: 30px;
	  background-color: #FFFFFF;
          line-height:1.2em;
	  }
		
	h2 {
	  color: #666666;
	  font-size: 16px;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #FFFFFF;
	  }
	  	
	h3 {
	  color: #666666;
	  font-size: 12px;
	  font-family: Arial, Helvetica, sans-serif;	 
	  }
		
	a {
	  color: #6DA6E2; 	
	  text-decoration: none;
	  font-weight: bold;
	  }

	a:hover {
	  background-color: #FFFFFF;
	  color: inherit;
	  font-weight: bold;
	  text-decoration: underline;
	  }
	  
	 #pageNumber {

	 	font-weight: bold;
	 	text-decoration: underline;
	 	font-size: 16px;
	 }

/**************** images styles ****************/		
	a img{
	  border: none;
	  }

	img.left,img.center,img.right {
	  padding: 4px;
	  border: 1px solid #a0a0a0;
	  }

	img.left {
	  float: left;
	  margin: 0 12px 5px 0;
	  }

	img.center {
	  display: block;
	  margin: 0 auto 5px auto;
	  }

	img.right {
	  float: right;
	  margin: 0 0 5px 12px;
	  }

/**************** form styles ****************/
	form {
	  left;
	  font-size: 11px;
	  }
		
	input {
	  background-color: #FFFFFF;
	  color: #999999;
	  border: 1px solid #2763A5;
	  font-size: 11px;
	  padding: 3px;
	  }
		
	.button {
	  padding: 2px;
	  background-color: #6DA6E2;
	  color: #FFFFFF;
	  border: 1px solid #2763A5;
	  font-size: 11px;
	  }

/**************** header styles ****************/
	#header {
	  width: 950px;
	  border: 0px;
	  padding-bottom: 10px;
	  padding-top: 10px;
	  clear: both;
	  }
	#header p { 
	  margin-top: -20px;
	  margin-left: 30px;
	  color: #999999;
	  }

/**************** menu styles ****************/
    #tabs10 {
      float:left;
      width:950px;
      font-size:93%;
	  padding-bottom: 1px;
	  border-bottom:4px solid #2763A5;
      line-height:normal;
      text-transform:uppercase;
      }
    #tabs10 ul {
	  margin:0;
	  padding:10px 10px 0 50px;
	  list-style:none;
      }
    #tabs10 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs10 a {
      float:left;
      background:url("images/tableft10.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs10 a span {
      float:left;
      display:block;
      background:url("images/tabright10.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    #tabs10 a span {
	  float:none;
	  }
    #tabs10 a:hover {
      background-position:0% -42px;
      }
    #tabs10 a:hover span {
      background-position:100% -42px;
      }

/**************** content styles ****************/
	#content {
	  width: 650px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 10px;
	  float: left;
	  }
	  
	
		.noborder_p
	{
	  border-bottom:none;
	} 
	
		#noborder_p_id p
	{
	  border-bottom:none;
	} 
	
	#content p {
	  padding-bottom: 10px;
	  border-bottom: 1px solid #DDDDDD;
	  }
	  
	#contentLargeText {
	  width: 650px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 10px;
	  float: left;
	  font-size: 12px;
	  text-align:justify;
	  }
	  
	 h1 {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 32px;
	  color: #6DA6E2;
	  margin-bottom: 30px;
	  background-color: #FFFFFF;
          line-height:1.2em;
	  }
		
	#contentLargeText h2 {
	  color: #6DA6E2;
	  font-size: 24px;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #FFFFFF;
	  }
	  	
	#contentLargeText h3 {
	  color: #6DA6E2;
	  font-size: 16px;
	  font-family: Arial, Helvetica, sans-serif;	 
	  }
	
	#contentLargeText h4 {
	  color: #666666;
	  font-size: 12px;
	  font-family: Arial, Helvetica, sans-serif;	 
	  }
	  
	 .codingstyletable{
	 font-family: courier new; 
	 font-size: 12px; 
	 border:"1";
	 cellspacing:"0";
	 cellpadding:"0";
	 }
	  .codingstyletablefirsttd{
	  valign:top;
	  width:644px;
	  padding:3px;
	  }
	  
		
	
	 
/**************** contentLarge styles ****************/
	#contentLarge {
	  width: 100%;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 10px;
	  float: left;
	  }
		
	#contentLarge p {
	  padding-bottom: 10px;
	  border-bottom: 1px solid #DDDDDD;
	  }
	  
/**************** sidebar styles ****************/
	#sidebar {
	  width: 250px;
	  padding-left: 15px;
	  padding-right: 5px;
	  padding-top: 10px;
	  float: right;
	  }
		
	#sidebar p {
	  padding-bottom: 10px;
	  border-bottom: 1px solid #DDDDDD;
	  }
	  
/**************** footer styles ****************/
	#footer {
	  margin-top: 15px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 2px;
	  padding-right: 2px;
	  clear: both;
	  width: 842px;
	  background-color:#2763A5;
	  }
		
	#footer p {
	  color:#FFFFFF;
	  padding: 5px;
	  text-align: center;
	  }
		
	#footer p a {
	  color: #FFFFFF;
	  background-color:#2763A5;
	  font-weight:100;
	  border-bottom: 1px dotted #FFFFFF;
	  }
		
	#footer p a:hover {
	  color: #FFFFFF;
	  text-decoration: none;
	  border-top: 1px dotted #FFFFFF;
	  border-bottom: 0px dotted #FFFFFF;
	  }

	.sidebaritem {
		background:#F9F9F9 none repeat scroll 0 0;
		border-color:#E1E1E1;
		color:#656F57;
	}

	.sidebaritem {
		border:1px solid;
		float:left;
		margin:0 0 5px;
		padding:14px 3px 14px 3px;
		text-align:left;
		width:246px;
	}
     .sidebaritem h3
     {
     	padding-left: 19px;
     }
    .sidebaritem ul {
	  margin:0;
	  padding:0px 0px 0px 19px;	 
     }

/***** Table styles *****/

table {
margin:0 0 16px 0;
padding:0;
line-height:1.3em;
border-collapse:collapse;
border:1px solid #d8d8d8;
width:644px;
}

caption {
text-align:left;
font-size:1.5em;
font-weight:normal;
margin:0;
padding:6px 0 8px 0;
}

th {
padding:7px;
text-align:left;
background:#eaeaea url(images/menubg2.gif) bottom left repeat-x;
color:#505050;
}

td {
padding:7px;
font-size:0.9em;
text-align:left;
background:#f4f4f4 url(images/menubg.gif) bottom left repeat-x;
color:#303030;
}

.centercell {
text-align:center;
padding-left: 2px;
}

.tdManual {
padding:7px;
font-size:0.9em;
text-align:left;
color:#303030;
background:#C3FDB8;
}

.manual th
{
	background:#B5EAAA;
}
.manual td
{
	background:#C3FDB8;
}
.manual a
{	
	color: #2B65EC;
}


div.scroll {
height: 100px;
width: 600px;
overflow: auto;
padding: 8px;
background:#F9F9F9 none repeat scroll 0 0;
border:1px solid #d8d8d8;
color:black;
font-family:monospace, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}

div.scrolllarge {
height: 220px;
width: 910px;
overflow: auto;
padding: 0px;
background:#F9F9F9 none repeat scroll 0 0;
border:1px solid #d8d8d8;
color:black;
font-family:monospace, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}

div.scrollandcapital {
height: 100px;
width: 600px;
overflow: auto;
padding: 8px;
background:#F9F9F9 none repeat scroll 0 0;
border:1px solid #d8d8d8;
color:black;
text-transform:uppercase;
}


div.links ul
{
padding:0px 0 10px 0px;
}

div.links li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

div.links li a
{
background:transparent url(images/arrow.gif) no-repeat scroll left center;
float:left;
height:20px;
padding:5px 0 4px 19px;
text-decoration:none;
width:100%;
}
div.links li a:hover 
{
background:transparent url(images/arrow_sel.gif) no-repeat scroll left center;
}

#formsection select
{
    width: 200px;
    padding: 2px 10px;
}

#formsection span
{
	width:200px;
	display: inline-block;
}

#formsection .spanwithinput
{
	padding-right:4px; 		
}


#formsection .submit
{
	padding:5px; 
	border:2px solid  #ccc; 
	border-radius: 5px;
	text-transform: uppercase;
	color: #6DA6E2;
	font-weight: bold;	
	width:100px;
}

#formsection .submit:hover
{
	text-decoration: underline;
	cursor: pointer;
	border:2px solid  gray; 
}
#formsection .submit150
{
	padding:5px; 
	border:2px solid  #ccc; 
	border-radius: 5px;
	text-transform: uppercase;
	color: #6DA6E2;
	font-weight: bold;
	width:150px;
}

#formsection .submit150:hover
{
	text-decoration: underline;
	cursor: pointer;
	border:2px solid  gray; 
}


#formsection .input
{
	width:192px;
	margin-bottom: 2px;
}

#pagingform input
{
	padding:0px; 
	border:0px; 
	color: #6DA6E2;
	font-size: 15px;
}

#pagingform .page
{
	padding:0px; 
	border:0px; 
	color: #6DA6E2;
	font-size: 11px;
	line-height: 1.6em;
	font-weight: bold;
}

#pagingform .page:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#pagingform .boldpage
{
	padding:0px; 
	border:0px; 
	color: #6DA6E2;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

#formsection .linkbutton
{
	color: #6DA6E2;
	background:transparent;
	font-size: 11px;
	line-height: 1.6em;
	font-weight: bold;
		text-transform: uppercase;
			padding:2px; 
	border:2px solid  #ccc; 
	border-radius: 5px;
	
}
#formsection .linkbutton:hover
{
	text-decoration: underline;
	cursor: pointer;
	border:2px solid  gray; 
}

	 	